# macOS system files
.DS_Store
.DS_*

# macOS metadata
._*

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.venv/
env/
venv/

# IDE/editor folders
.vscode/
.idea/

# Log files
*.log

# Byte-compiled
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg artifacts
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

