# macOS system files
.DS_Store
.DS_*

# macOS metadata
._*

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.venv/
env/
venv/

# IDE/editor folders
.vscode/
.idea/

# Log files
*.log

# Byte-compiled
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg artifacts
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

# ignore the models we test with
*/models/*/slices
*/src/models/*/slices/
*/models/*/model_metadata.json
*/src/models/*/model_metadata.json
*/models/*/analysis/model_metadata.json
*/src/models/*/analysis/model_metadata.json
*/models/*/run
*/src/models/*/run/


# Local virtual envs
python.venv/
.venv/
venv/
