torch==2.6.0
onnx==1.17.0
pytest==8.3.5
ezkl==20.2.0
networkx~=3.4.2
matplotlib~=3.10.1
numpy~=2.2.3
tqdm~=4.67.1
onnxruntime==1.21.0
colorama~=0.4.6
onnxruntime_extensions==0.14.0
transformers[torch]==4.56.1
